body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
}

#formPage {
  display: grid;
  width: 80%;
  gap: 15px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}

form > input {
  border-radius: 7px;
  font-size: 20px;
  border: 1px solid;
}

form > label {
  font-style: italic;
}

#submit {
  background-color: rgb(77, 194, 77);
}

table {
  font-size: 15px;
  width: 82%;
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
}

th,
td {
  text-align: left;
  border-collapse: collapse;
  border-right: 1px solid;
  padding: 3px;
  border-collapse: collapse;
}

.last {
  border-right: none;
}

tbody button {
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
}
div label {
  width: 15vw;
  display: inline-block;
}
