.h1 {
  color: violet;
}
.par1 {
  color: black;
  font-family: "Century Gothic", sans-serif;
}
.par2 {
  color: pink;
  font-family: "Verdana";
}
h1 {
  text-align: center;
}
.gorTitle {
  font-size: 110px;
}

.gorPar {
  width: 50%;
  margin: 0 20%;
  padding: 100px 5%;
  border: 2px solid;
  border-radius: 20px;
  line-height: 2;
  font-style: italic;
  text-align: justify;
}
